.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

body {
  background-color: #0c0d0c;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
  text-align: center;
}

pre code {
  background-color: #2d2242;
  border: 1px solid #2f273e;
  display: block;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  margin: auto;
  width: 800px;
}
